.background-pokemon {
    width: fit-content;
    height: fit-content;
    margin-left: 37%;
    border-radius: 12px;
    background-color: #FB5584;
    border: 1px solid rgb(20,20,20, 0.2);
    position: fixed;
    padding: 5px;
    z-index: 10;
}

.card-info {
    display: flex;
    width: 360px;
    height: 320px;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 50%;
    box-shadow: inset 6px 13px 29px -24px rgba(115,111,115,1);
    flex-direction: column;
}

.pokemon-head {
    display: flex;
    flex-direction: row;
    color: #fff;   
}

.pokemonCard-img {
    width: 200px;
    height: 200px;
    transform: translate(40%, -75%);
    position: absolute;
}

.pokemonCard-id{
    margin-left: auto;
    margin-right: 16px;
}

.types-container {
    width: fit-content;
    display: flex;
    margin: 0 auto;
    gap: 18px;
}

.pokemon-types {
    color: #fff;
    font-size: 14px;
    background-color: #FB5584;
    width: 46px;
    height: fit-content;
    border-radius: 10px ;
    padding: 2px 8px 2px 8px;
    margin: 35px 0 20px 0 ;
}

.pokeballCard-image {
    width: 240px;
    height: 240px;
    filter: brightness(0) saturate(20%) invert(100%) sepia(50%) saturate(75%) hue-rotate(93deg) brightness(105%) contrast(101%);    
    opacity: 0.1;
    position: absolute;
    margin: 4px;
    top: 0;
    right: 0;
}

.modal-backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
}

.h3{
    color: #FB5584;
    display: flex; 
    justify-content:center;
    margin-top: 0;
}

.pokemon-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pokemon-weight {
    height: 60px;
    flex-direction: column ;
    padding: 0 20px;
    border-right: 1px solid #00000040;   
    color: #666666;
    font-size: 15px;
    size: 6px;
}

.pokemon-height {
    height: 60px;
    flex-direction: column;
    padding: 0 20px;
    color: #666666;
    font-size: 15px;
    border-right: 1px solid #00000040;   
}

.pokemon-moves {
    height: 60px;
    flex-direction: column;
    padding: 0 20px;
    font-size: 15px;
    color: #666666;
}

.base-stats {
    margin: 0;
    color: red;
}