.pokemon-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 240px;
    height: 270px;
    border-radius: 20px;
    margin: 16px 30px 16px 25px;
    border: 1px solid #EFEFEF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.container{
    width: 90vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.pokemon-id{
    margin-left: auto;
    margin-right: 16px;
}


.pokemon-img {
    width: 150px;
    height: 150px;
    transform: translate(35%, 50%);
    position: absolute;
}

.card-name {
    background-color: #EFEFEF;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 240px;
    height: 100px;
    border-radius: 20px;
    margin-top: auto;
}


